<div class="row">
  <%= simple_nested_form_for [@event, @team], :html => { :'data-members-limit' => @event.maxperson } do |f| %>
    <div class="row show-grid">
      <div class="span9">
        <%= f.input :name, label: "Nome do Time: " %>
      </div>
    </div>
    <hr/>
    <div class="show-grid">
      <%= f.simple_fields_for :members do |i| %>
        <div class="show-grid row">
          <%= i.input :name, label: "Nome do integrante: ", wrapper_html: { class: 'span' } %>
          <%= i.input :email, label: "E-mail: ", wrapper_html: { class: 'span' } %>
          <%= i.input :cpf, label: "CPF: ", wrapper_html: { class: 'span' } %>
          <%= i.input :rg, label: "RG: ", wrapper_html: { class: 'span' } %>
          <%= i.input :phone, label: "Fone: ", wrapper_html: { class: 'span' } %>
        </div>
        <div class="show-grid">
          <%= i.link_to_remove "Remover este integrante", class: 'btn btn-danger' %>
        </div>
        <hr>
      <% end %>


      <div class="show-grid"><%= f.link_to_add "Adicionar integrante", :members, class: 'btn btn-primary' %></div>

      <%= f.submit class: 'btn btn-success' %>
    </div>

  <% end %>
</div>