<table>
  <thead>
    <tr>
      <th>Nome</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
      </tr>
      <% team.members.each do |member| %>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
