<%= simple_form_for @event do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :active, as: :boolean %>
  <%= f.input :maxperson %>

  <%= f.submit %>

  <td><%= link_to 'Atrações', events_path %></td>
<% end %>
