<h3>Selecione a atração na qual deseja inscrever-se</h3>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Selecione uma atração
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% @events.each do |event| %>
      <li><%= link_to "#{event.name}", new_event_team_path(event) %></li>
    <% end %>
  </ul>
</div>