<h3><%= @event.name %></h3>
<p><%= @event.description %></p>
<p><%= @event.active %></p>
<b>Limite de Integrantes:</b><%= @event.maxperson %>
<br/>
<td><%= link_to 'Atrações', events_path %></td>